{% load static %}
{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <div class="col mx-auto alert-success d-md-flex  justify-content-between align-items-center">
      <a href="{% url link|default:"commande_list" %}">
        <img class="" src="{% static icon %}" alt="logo" style="height:100px">
      </a>
      <h1 class="display-4">{% trans title|capfirst %} </h1>
      {% if user.is_authenticated %}
        <p class="lead">
          <a class="btn btn-light" href="{% url 'auth_logout' %}">
            {{ user.username}} (déconnexion)
          </a>
          <a class="btn btn-success" href="{% url 'panier_list' %}">
            Mes paniers
          </a>
          <a class="btn btn-secondary" href="{% url 'commande_list' %}">Commandes</a>
        </p>
      {% else %}
        <a class="btn btn-light" href="{% url 'auth_login' %}?next={% url 'commande_list' %}">Connection</a>
      {% endif %}
    </div>
  </div>
</div>
