{% load static %}
{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <div class="col mx-auto alert-success d-flex  justify-content-between align-items-center">
      <img class="" src="{% static icon %}" alt="logo" style="height:100px">
      <h1 class="display-1">{% trans title|capfirst %} </h1>
      {% if user.is_authenticated %}
        <p class="lead">
          <a class="btn btn-light" href="{% url 'auth_logout' %}">
            {{ user.username}} (déconnexion)
          </a>
        </p>
      {% else %}
        <a class="btn btn-light" href="{% url 'auth_login' %}?next={% url 'commande_list' %}">Connection</a>
      {% endif %}
    </div>
  </div>
</div>
