{% extends "./base.html" %}

{% block header %}

  {% include "./header.html" with title="commande" icon="icons/orange.png" %}

{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row justify-content-center my-3">
    <div class="col-md-10">
      <div class="card" style="width:55%">
        <div class="card-header">

        <h1>{{ panier.name }}</h1>
        <h4>
          Commande: {{ panier.commande }}
        </h4>
      </div>
      <div class="card-body">

      </div>
      <div class="card-footer text-right">
        <a class="btn btn-secondary" href="{% url 'panier_list' %}">Mes paniers</a>
        {% if not commande.closed %}
          <a class="btn btn-success" href="#">Modifier mon panier</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
